# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
env.bak/

# Log files
*.log

# Python cache
*.pyc
*.pyo

# Flask specific
instance/
*.db
*.sqlite3

# Environment variables
.env
*.env
.env.*

# Media and Uploads
static/uploads/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
