# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
env.bak/

# Log files
*.log

# Python cache
*.pyc
*.pyo

# Flask specific
instance/
*.db
*.sqlite3

# Environment variables
.env
*.env

static/
